body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0;margin: 0;}
body{font-family:"Microsoft YaHei";font-size:14px;}
html,body{width:100%;height:100%;}
table{border-collapse:collapse;bordere-spacing:0;}
fieldset,img{border:0;}
ol ul{list-style: none;}
caption th{text-align:left;}
a{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}


/*open*/
body{position:relative}
.animation .open_L{position:absolute;top:0;left:0;width:50%;height:100%;background:white;z-index: 999;}
.animation .open_R{position:absolute;top:0;right:0;width:50%;height:100%;background:white;z-index: 999;}
/*Nav*/
.subject{width:100%;height:100%;overflow: hidden;min-width: 1350px;min-height:620px;}
.header{position:relative;width:170px;height:100%;background:red; z-index:8;}

.content{width:100%;height:100%;z-index:7;margin-left:170px;min-width:1180px;overflow: hidden;}
.content .swiper-container{width:100%;height:100%;}
.swiper-container img{width:1920px;height:1020px;}
.swiper-pagination-bullet-active{opacity:0.5;background:white;}

.C_sidebar_trigger{position:absolute;top:0;right:0;width:20%;height:100%;z-index:7;}
.C_show{position:fixed;top:0;right:0;width:20%;height:100%;background:green;z-index: 9;}
.C_show .tt{width:100px;height:100px;background:tomato;display: inline-block;}