.nav_block ul li.current a{display:block;font-size:18px;font-style:italic;color:#fff;line-height:30px;padding:16px 0 16px 55px;background:url("../Images/navBg.png")no-repeat center;}
.clear{clear: both;}
.common_inner{position:relative;width:100%;height:100%;background:#f1ece6;}
.common_content{position:relative;margin-left:170px;width:calc(100% - 170px);height:100%;min-width:1180px;min-height:715px;overflow: hidden;}
.Shop_guide{position:relative;width:100%;height:88px;background:url("../Images/Children01_img/Le15.jpg")repeat;}
.Shop_top{position:relative;width:429px;height:88px;float: left;}
.Shop_img{position:absolute;top:0;left:0;width:100%;height:100%;}
.Shop_img img{width:100%;height:100%;}
.Shop_title{position:absolute;top:50px;left:0;z-index:9;}
.Shop_title span{font-size:22px;color:#fff;line-height:26px;font-style:italic;}
.Shop_title em{font-size:14px;color:#fff;line-height:20px;margin-left:10px;font-style:italic;}
.Shop_lay{position:relative;width:94%;height:88px;margin:0 auto;}
.Hot_block ul li a:hover:after{ width: 150px; left: 600px; -webkit-transition: 1.2s;transition: 1.2s;}
.Hot_block ul li a:after{
    content: "";
    display: block;
    position: absolute;
    left: -200px;
    top: 0px;
    width: 150px;
    height: 100%;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    overflow: hidden;
    -webkit-transform: skewx(-25deg);
    -webkit-transition: 0s;
}

.brand_conceht{position:absolute;top:50%;width:1180px;height:648px;overflow:hidden;}
.brand_conceht.no-bow{position:absolute;top:50%;left:50%;width:1180px;height:670px;overflow:hidden;margin:-282px 0 0 -590px;}
.all_active{position:relative;width:100%;overflow:hidden;}
.web_active{position:relative;width:99999999px;}
.Hot_active{position:relative;width:1200px;float:left;margin-right:20px;}
.Hot_block{position:relative;width:1068px;margin:0 auto;}
.Hot_block ul li{position:relative;width:245px;height:305px;float:left;background:#FFF;margin:0 10px 20px 10px;}
.Hot_block ul li>a{position:relative;width:243px;height:303px;overflow:hidden;display:block;border:1px solid #f1ece6;border-radius: 5px;}
.Hot_block ul li a:hover{-moz-box-shadow:-2px 2px 5px #cdc9c8; -webkit-box-shadow:-2px 2px 5px #cdc9c8; box-shadow:-2px 2px 5px #cdc9c8;}
.Hot_block ul li a .Hot_img{position:relative;width:100%;height:200px;overflow: hidden;}
.Hot_img img{width:243px;height:200px;}
.Hot_block ul li a .Hot_text{position:relative;padding:0 18px;width:auto;}
.Hot_block ul li a .Hot_text .hot_name{width:83%;height:38px;overflow:hidden;padding:10px 0;line-height:24px;margin-bottom: 10px;}
.Hot_block ul li a:hover .Hot_text p{color:#be8939;}
.hot_name p{font-size:16px;color:#333;padding:2px 0 0 0;}
.date_day span{font-size:14px;color:#999;line-height:24px;background:url("../Images/Children02_img/Ho2.png")no-repeat left center;padding-left:20px;float:left;}
.date_day em{float: right;cursor: pointer; border: solid 1px #be8939;padding: 2px 16px;border-radius: 8px;display: block;font-size: 12px;color: #be8939;}
.brand_conceht a.Arrow_1{position:absolute;top:50%;right:0;width:48px;height:48px;display:block;margin-top:-24px;}
.brand_conceht a.Arrow_2{position:absolute;top:50%;left:0;width:48px;height:48px;display:block;margin-top:-24px;}